@using XceedTask.DAL.Models;
@model Product
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Product </h1>
<br />
<br />

<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div class="form-group mb-3">
        <label for="CategoryId" class="mainColor fw-bold">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.category" class="form-control"></select>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="CreationDate"></label>
        <input asp-for="CreationDate" class="form-control" />
        <span class="text-danger" asp-validation-for="CreationDate"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" />
        <span class="text-danger" asp-validation-for="StartDate"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" />
        <span class="text-danger" asp-validation-for="EndDate"></span>
    </div>
    <div class="form-group mb-3">
        <label for="Price" class="mainColor fw-bold">Price</label>
        <input type="number" asp-for="Price" step="0.10" min="0" placeholder="0.00" class="form-control" />
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light"> Back To List </a>
</form>


